footer .images__links {
    margin-top: 50px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .images__links img {
    width: 30px;
    animation: wiggle 3s linear infinite;  
}

footer .images__links a:hover {
    transform: scale(1.3);
    transition: ease 1s;
}

.download-cv {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 45px;
  margin-bottom: 10px;
}

.download-cv img {
  width: 70px;
}
.download-cv img:hover {
  transform: scale(1.2);
  transition: 1s ease-in-out;
}

/* Animations */

@keyframes rotating {
    0% {
        transform: rotateY(30deg) rotate(-25deg) translateZ(100px);
    }
    25% {
        transform: rotateY(-30deg) translateZ(100px);
    }
    50% {
        transform: rotateX(-50deg) translateZ(-100px);
    }
    75% {
        transform: rotateX(-50deg) translateZ(-100px);
    }
    100% {
        transform: rotateX(20deg) translateZ(0);
    }
}

/* animation: example 5s infinite alternate;
  filter: blur(100px); */

@keyframes wiggle {
    0%, 10% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%, 100% {
      transform: rotate(0);
    }
  }



/* animation: gradient 5s ease infinite alternate; */

@keyframes loader {
    to {
      transform: scale(1.8);
    }
  }

    /* animation: loader .8s ease-in-out alternate infinite;
    animation: loader .8s ease-in-out alternate .3s infinite;
 
    animation: loader .8s ease-in-out alternate .6s infinite; */
 